/* Main container styles */
.d-flex {
    display: flex;
}

/* Sidebar (cart) styles */
#sidebar {
}

/* Product list styles */
.container {
    max-width: calc(100% - 250px); /* Ajusta el ancho para dejar espacio para el sidebar */
    margin-top: 100px; /* Ajusta según la altura de tu navbar */
    margin-left: 270px !important; /* Deja espacio para el sidebar */
}

.card {
    border: none;
    border-radius: 0 !important; /* Uso de !important si los estilos heredados causan problemas */
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 0 !important; /* Sobrescribe cualquier estilo heredado */
    border-top-right-radius: 0 !important; /* Sobrescribe cualquier estilo heredado */
}

.card-body {
    padding: 0; /* Elimina el padding del cuerpo de la card */
}

.card-title {
    font-size: 1rem;
    text-align: center;
    margin: 0; /* Elimina el margen para centrar el texto completamente */
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del elemento */
}
